/* Variabel */
:root{
    --warna-utama:#e63946;
    --warna-gelap:#0f0f0f;

    --h1-font-size:40px;
    --h2-font-size:32px;
    --small-font-size:14px;
}

/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

/* Global CSS */
section{
    padding: 70px 0;
}

.btn-merah{
    background-color: var(--warna-utama);
    font-weight: bold;
    text-transform: uppercase;
}

.btn-merah-secondary{
    border: 2px solid var(--warna-utama);
    font-weight: bold;
    text-transform: uppercase;
}

.btn-merah:hover{
    background-color: white;
}

section .section-title {
    font-size: var(--h2-font-size);
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--warna-utama);
}

.header-section .header-title {
    color: var(--warna-utama);
}

.header-section .header-skill {
    color: #0f0f0f;
    text-decoration: none;
}

.header-section .header-skill:hover {
    color: #e63946;
}

.header-section .header-skill i{
    transition: .3s;
}

.header-section .header-skill:hover i{
    transform: rotate(-35deg);
    color: #e63946;
}

.header-section .header-img {
    width: 35%;
}

.portfolio-section{
    background-color: #e63946;
    margin-top: -10px;
}